.DS_Store
.idea/
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tgz

android/.gradle/
android/local.properties
android/build/
android/**/build/

react-native/android/.gradle/
react-native/android/build/
react-native/ios/build/

ios/.swiftpm/
ios/.DS_Store
react-native/.DS_Store
android/.DS_Store
